*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#d8c7ff, #19006c);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: poppins;
}

